<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Day 23 - Ivoirians</title>
	<link rel="stylesheet" href="23.css" />
	<link rel="icon" href="../favicon32.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="23.js"></script>
</head>
	<body>
		<div id="container" class="fullheight">
			<header>
			<a href="../index.html"><img id="header-image" src="../favicon128.png" alt="favicon"></a>
			<h1> Day 23 </h1>
			</header>
			<div id="sidebar" class="fullheight">
				<div class="sidebar-link">
					<a class="sidebar-link" href="../22/22.html">Previous</a>
				</div>
				<div class="sidebar-link">
					<a class="sidebar-link" href="../index.html">Index</a>
				</div>
				<div class="sidebar-link">
					<a class="sidebar-link" href="../24/24.html">Next</a>
				</div>
				<div class="sidebar-link">
					<a class="sidebar-link" href="https://github.com/Ivoirians/hour-a-day">Github</a>
				</div>
			</div>
			<div id="content">
				<p> It still doesn't work. :( </p>

<p> About twenty minutes in, I got the socket working, but hit an error where after a single round trip the socket would close. Another twenty minutes, I went home. When I started up the server again, the socket wasn't working with the same KeyError wsgi.websockets issue again. And now I can't fix it. </p>

<p> I told myself I needed to commit something every day before midnight, so that's why I'm here rushing this out. This is frustrating, though. Maybe I'll move away from Python entirely. </p>
				
</div>
			<div class="comment-section" ng-app="commentsApp" ng-controller="CommentController">
				<div class="comment-header">Comments: </div>
				<div class="comment-submit" >
					Username: <input type="text" class="username-field" ng-model="username"></input>
					<br />
					Comment: <input type="text" class="comment-field" ng-model="comment"></input>
					<br />
					<button class="comment-submit-button" ng-click="addComment()">Submit</button>
				</div>
				<div class="comment-entry" ng-repeat="comment in comments">
					<div class = "comment-date">
						{{comment.dtmCreated}}
					</div>
					<div class="comment-username">
						{{comment.chvAuthor}}
					</div>
					<div class = "comment-text">
						{{comment.chvBody}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
