<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Day 19 - Ivoirians</title>
	<link rel="stylesheet" href="19.css" />
	<link rel="icon" href="../favicon32.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="19.js"></script>
</head>
	<body>
		<div id="container" class="fullheight">
			<header>
			<a href="../index.html"><img id="header-image" src="../favicon128.png" alt="favicon"></a>
			<h1> Day 19 </h1>
			</header>
			<div id="sidebar" class="fullheight">
				<div class="sidebar-link">
					<a class="sidebar-link" href="../18/18.html">Previous</a>
				</div>
				<div class="sidebar-link">
					<a class="sidebar-link" href="../index.html">Index</a>
				</div>
				<div class="sidebar-link">
					<a class="sidebar-link" href="../20/20.html">Next</a>
				</div>
				<div class="sidebar-link">
					<a class="sidebar-link" href="https://github.com/Ivoirians/hour-a-day">Github</a>
				</div>
			</div>
			<div id="content">
				<p> It's still a crazy time for me, but hopefully we can finish the comment section today. </p>

				<p> It doesn't take too long to throw together what we spent the last two days doing. Main problem right now: we have a list of JSON objects. We want to translate this to a series of &lt;div&gt;s. Angular has something called ng-repeat. Let's figure this out. </p>

				<p> Immediately after setting up the ng-repeat section, we hit an issue: python's dictionary-to-JSON-to-string doesn't conform with Javascript's expected format. Specifically, python's dictionary keys have single-quotes. Javascript's evidently don't, judging by the <code>SyntaxError: Unexpected token ' in JSON at position 2</code> I'm getting. Random hunch, before we look into custom serializers--what if we replaced the single quotes with double quotes? </p>

				<p> Incredibly, that worked. The comment section is working! </p>

				<p> A few comments later, and I broke it with data. I entered a comment with a single-quote in it, which didn't get escaped, and so got converted to a double-quote. My first inclination for fixing this is to do some escaping to the strings as they're fetched from the database. But just escaping them will still have them converted into double-quotes.</p>

				<p> I was being silly. I should have just trusted Python. json.dumps(dictionary) handles all of this single-quotes and escaping nonsense. The comment section now works, although of course there is more to be done. First that comes to mind, I went to all the excessive work of including a logical delete column, but it's completely not respected--I'll need to modify the service to not include the comment text if the comment is deleted (this has to happen server-side, because if the text is sent to the client, the client has the text that should be deleted), and include some conditional logic in Angular to handle what to display for a deleted comment. Or just have the service return a "Comment was deleted" as the string. Whatever. </p> 

				<p> I'll add the necessary logic to the template file (the first new stuff in a long while). One last note: I need to fix the server timestamp. Python's using GMT/UTC instead of the PST I know and love. I guess that's actually better-I can convert UTC to the user's time-zone on the client-side, while the server holds a "truth". The only issue is, my python start script pulls the wrong date (I always start working in the last eight hours of the day). I'll just update the script and call it a night.

				<div class="comment-section" ng-app="commentsApp" ng-controller="CommentController">
					<div class="comment-header">Comments: </div>
					<div class="comment-submit" >
						Username: <input type="text" class="username-field" ng-model="username"></input>
						<br />
						Comment: <input type="text" class="comment-field" ng-model="comment"></input>
						<br />
						<button class="comment-submit-button" ng-click="addComment()">Submit</button>
					</div>
					<div class="comment-entry" ng-repeat="comment in comments">
						<div class = "comment-date">
							{{comment.dtmCreated}}
						</div>
						<div class="comment-username">
							{{comment.chvAuthor}}
						</div>
						<div class = "comment-text">
							{{comment.chvBody}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>