body {
    background-color: #F0F0F0;
}

h1 {
	text-align:center;
}

p {
    font-family:"Georgia";
    font-size:"12pt";
}

code {
	background: hsl(220, 80%, 90%);
	text-align: center;
}

#stock-market-widget {
	background-color: #D6D6D6;
	position:relative;
	width:80%;
	padding:10px;
	border:solid black 2px;
}